.detailpost{
    min-height: calc(100vh - 130px);
    width:1160px;
    margin : 0 auto;
}

.detailpost_title{
    margin-top: 100px;
    display:flex;
    gap:24px
}
.detailpost_title>p:first-child{
    font-size: 24px;
    font-weight: bold;
}

.detailpost_title>p:nth-child(2)>span{
    font-size: 20px;
    color:red;
}

.detailpost_nav{
    margin-top: 40px;
}

.detailpost_nav>p:first-of-type{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.detailpost_nav>div{
    display:flex;
    gap:16px;
}

.detailpost_main{
    width:1160px;
    height:500px;
    border:1px solid rgb(0,0,0,0.3);
    margin-top:40px;
    border-radius: 16px;
    padding:16px;
    box-sizing: border-box;
    background-color: white;
}

.comment{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}

.comment_list{
    margin-top: 20px;
    width:1160px;
    height:50px;
    border:1px solid rgb(0,0,0,0.3);
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:8px;
    padding:16px;
    border-radius: 16px;
    background-color: rgb(245, 248, 237);
    position:relative;
}

.comment_list>div:nth-child(2){
    display:flex;
    gap:16px;
    font-size: 14px;
}

.comment_lists{
    margin-bottom: 100px;
}

.comment_list_button{
    position: absolute;
    right:10px;
    top:10px;
    display:flex;
    flex-direction: column;
    gap:8px;
}
.comment_list_button>button{
    width: 50px;
    height: 20px;
    background-color: #f5f5fa;
    color: #7878ab;
    border: 0px;
    box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.25);
    box-shadow: 10px 10px 20px rgba(170, 170, 204, 0.5);
    font-weight: bold;
    border-radius: 32px;
}

.write_comment{
    margin-bottom: 100px;
    position:relative;
    border-radius: 16px;
}

.write_comment>button{
    position: absolute;
    right: -20px;
    top:0px;
    width: 80px;
    height: 30px;
    background-color: #f5f5fa;
    color: #7878ab;
    border: 0px;
    box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.25);
    box-shadow: 10px 10px 20px rgba(170, 170, 204, 0.5);
    font-weight: bold;
    border-radius: 32px;
}

.comment_reactquill{
    background-color: white;
}
.ql-editor{
    background-color: white;
}
