.findpassword {
  min-height: calc(100vh - 130px);
}
.findpasswordbox {
  width: 768px;
  height: 635px;
  background-color: white;
  border: 1px solid #f5f5fa;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.findpasswordbox > div:first-of-type {
  font-family: "crimson-text";
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #7878ab;
  margin-bottom: 16px;
}
.findpasswordbox > div > p {
  color: #7878ab;
  font-family: "Pacifico";
  margin-top: 24px;
}
.findpasswordbox > div > input {
  width: 376px;
  height: 40px;
  border-radius: 40px;
  background-color: #f5f5fa;
  border: 0px solid;
  box-shadow: inset 2px 2px 4px rgba(170, 170, 204, 0.25);
  box-shadow: inset 5px 5px 10px rgba(170, 170, 204, 0.5);
  margin-top: 8px;
}

.findpasswordbox > div:last-child {
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 30px;
  right: 58px;
}
.findpasswordbox > div:last-child > button {
  width: 112px;
  height: 37px;
  border-radius: 32px;
  background-color: #f5f5fa;
  color: #7878ab;
  border: 0px;
  box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.25);
  box-shadow: 10px 10px 20px rgba(170, 170, 204, 0.5);
}
