.signuppage {
  width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 130px);
  padding: 80px;
}
.signup_box {
  background-color: white;
  border: 1px solid #f5f5fa;
  width: 768px;
  height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

.signup_box > div:first-of-type {
  font-family: "crimson-text";
  font-size: 30px;
  color: #7878ab;
  margin: 40px 0px;
}

.signup_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}
.signup_list > p {
  font-family: "pacifico";
  color: #7878ab;
}

.signup_list > input {
  width: 376px;
  height: 40px;
  border-radius: 40px;
  background-color: #f5f5fa;
  border: 0px solid;
  box-shadow: inset 2px 2px 4px rgba(170, 170, 204, 0.25);
  box-shadow: inset 5px 5px 10px rgba(170, 170, 204, 0.5);
}
.signup_button {
  display: flex;
  gap: 16px;
  position: absolute;
  right: 52px;
  bottom: 30px;
}
.signup_button > button {
  width: 112px;
  height: 37px;
  border-radius: 32px;
  background-color: #f5f5fa;
  color: #7878ab;
  border: 0px;
  box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.25);
  box-shadow: 10px 10px 20px rgba(170, 170, 204, 0.5);
  font-weight: bold;
}
